keystore.p12
*.jks
*.pem
*.key
*.p12
*.pass
config.yml

tmp/
repo/tmp/
repo/repo/
fdroiddata/
fdroidserver/
*.log


*.apk
*.aab
*.dex
*.class
*.jar
*.so
*.o
*.out

# 🛠️ Android Studio / Gradle
.gradle/
build/
app/build/
local.properties
*.iml
.idea/
*.swp

repo/icons/icon.png


*.bak
*.tmp
*.DS_Store
Thumbs.db